a {
  text-decoration: none;
  color: inherit;
}
header {
  position: sticky;
  z-index: 30;
  top: 0;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
